
.landing-page {
    text-align: center;
}

.image-container {
    margin: 20px 0;
    
}

.main-image {
    border-radius: 8px;
    width: 53%;
    height: 100%;
    max-width: 600px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header h1 {
    margin: 0
    ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 10px 20px;
}
.header-right {
    display: flex;
    align-items: center;
}
#loginButton {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}
#loginButton:hover{
    background-color: red;
}
.loginButton, .signupButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Add any other global styles here */
