<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RepoSphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <div>
            <img src="https://engage-eu.s3-ap-southeast-1.amazonaws.com/uploads/images/DBS-logo-square.width-400.png" height="60px" width="60px" style="border-radius: 8px;" alt="Logo">
        </div>
        <h1>RepoSphere</h1>
        <button id="loginButton">Login</button>
    </header>

    <div class="landing-page" id="landingPage">
        <div class="image-container">
            <img src="https://img.freepik.com/free-vector/isometric-b2b-illustration_52683-83010.jpg?t=st=1730406870~exp=1730410470~hmac=d305b5d67362a1d07044debfb9ae6150351237ca6c77f407189c5ad3ed2f197b&w=1060" alt="Main Image" class="main-image">
        </div>
    </div>
    <!-- Login Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Login</h2>
            <input type="email" id="loginEmail" placeholder="Email" required>
            <input type="password" id="loginPassword" placeholder="Password" required>
            <button id="loginSubmit" class="loginButton">Submit</button>
            <p>Don't have an account? <button id="signupButton">Sign Up</button></p>
        </div>
    </div>

    <!-- Signup Modal -->
    <div id="signupModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Sign Up</h2>
            <input type="text" id="signupUsername" placeholder="Username" required>
            <input type="email" id="signupEmail" placeholder="Email" required>
            <input type="password" id="signupPassword" placeholder="Password" required>
            <button id="signupSubmit" class="loginButton">Register</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 <b>RepoSphere</b> All Rights Reserved to Naseer</p>
    </footer>
    <script src="/static/index.js"></script>
</body>
</html>
